MyFramework.xcodeproj/project.xcworkspace/xcuserdata/guaz.xcuserdatad/UserInterfaceState.xcuserstate
MyFramework.xcodeproj/xcuserdata/guaz.xcuserdatad/xcschemes/MyFramework.xcscheme
MyFramework.xcodeproj/xcuserdata/guaz.xcuserdatad/xcschemes/xcschememanagement.plist
